li {
    font-family: "Josefin Sans";
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

.header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.logo {
    cursor: pointer;
    width: 90px;
}

.links,
.nav_cart {
    list-style: none;
}

.links li {
    display: inline-block;
    padding: 0px 20px;
}